html,
body {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #f2f2f2;
}

.header {
  width: 100%;
  height: 60px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 60px);
}

.left-sidebar {
  flex-basis: 200px;
  flex-shrink: 0;
  height: 100%;
}

.main-canvas {
  flex-grow: 1;
  height: 100%;
}

.right-sidebar {
  flex-basis: 200px;
  flex-shrink: 0;
  height: 100%;
}
