html,
body {
  margin: 0;
  padding: 0;
}
#root {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
}

#content {
  width: 300px;
  height: 100vh;
  background-color: #f2f2f2;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.com {
  border-bottom: 1px solid red;
}

.com-title {
  color: #8b21e2;
}
